<div class="container">
  <div class="overlay" *ngIf="isLoading">
    <div class="loader-wrapper">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
  <div class="login-box" [class.blur]="isLoading">
    <ng-container *ngIf="isLoginMode; else signuptemp">
      <h2>LOGIN</h2>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <label for="email">Email Address</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="text-danger"
        >
          <small *ngIf="email.errors?.['required']">Email is required.</small>
          <small *ngIf="email.errors?.['email']">Enter a valid email.</small>
        </div>

        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="text-danger"
        >
          <small *ngIf="password.errors?.['required']"
            >Password is required.</small
          >
        </div>

        <div class="options mt-2 mb-3 d-flex justify-content-between">
          <label>
            <input type="checkbox" formControlName="rememberMe" />
            Remember me
          </label>
          <a href="#">Forgot your password?</a>
        </div>

        <button type="submit" [disabled]="authForm.invalid">LOGIN</button>
      </form>
    </ng-container>
    <ng-template #signuptemp>
      <h2>SIGNUP</h2>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <label for="email">Email Address</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="text-danger"
        >
          <small *ngIf="email.errors?.['required']">Email is required.</small>
          <small *ngIf="email.errors?.['email']">Enter a valid email.</small>
        </div>

        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="text-danger"
        >
          <small *ngIf="password.errors?.['required']"
            >Password is required.</small
          >
        </div>

        <div class="options mt-2 mb-3 d-flex justify-content-between">
          <label>
            <input type="checkbox" formControlName="rememberMe" />
            Remember me
          </label>
          <a href="#">Forgot your password?</a>
        </div>

        <button type="submit" [disabled]="authForm.invalid">SIGNUP</button>
      </form>
    </ng-template>
  </div>
  <div class="welcome-box">
    <h1>Welcome</h1>
    <ng-container *ngIf="isLoginMode; else logintxttemp">
      <p>
        Don't have an account? Create your account, it takes less than a minute
      </p>
    </ng-container>
    <ng-template #logintxttemp>
      <p>If you already have an account, log in here.</p>
    </ng-template>
    <button type="button" (click)="onSwitchMode()">
      {{ isLoginMode ? "Register Now" : "Login" }}
    </button>
  </div>
</div>
