<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <mat-form-field appearance="outline" class="name-field">
      <mat-label>Ingredient Name</mat-label>
      <input matInput formControlName="name" placeholder="e.g., Tomatoes" />
      @if (ingredientForm.get('name')?.hasError('required')) {
        <mat-error>Name is required</mat-error>
      }
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="amount-field">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount" placeholder="e.g., 5" />
      @if (ingredientForm.get('amount')?.hasError('required')) {
        <mat-error>Amount is required</mat-error>
      }
      @if (ingredientForm.get('amount')?.hasError('pattern')) {
        <mat-error>Must be a positive number</mat-error>
      }
    </mat-form-field>
  </div>
  
  <div class="actions">
    @if (editMode()) {
      <button mat-raised-button color="primary" type="submit" [disabled]="!ingredientForm.valid">
        <mat-icon>check</mat-icon>
        Update Ingredient
      </button>
      <button mat-stroked-button type="button" (click)="onClear()">
        <mat-icon>close</mat-icon>
        Cancel
      </button>
    } @else {
      <button mat-raised-button color="primary" type="submit" [disabled]="!ingredientForm.valid">
        <mat-icon>add</mat-icon>
        Add Ingredient
      </button>
      <button mat-stroked-button type="button" (click)="onClear()">
        <mat-icon>clear</mat-icon>
        Clear
      </button>
    }
  </div>
</form>
