<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <mat-form-field appearance="outline" class="name-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      @if (ingredientForm.get('name')?.hasError('required')) {
        <mat-error>Name is required</mat-error>
      }
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="amount-field">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount" />
      @if (ingredientForm.get('amount')?.hasError('required')) {
        <mat-error>Amount is required</mat-error>
      }
      @if (ingredientForm.get('amount')?.hasError('pattern')) {
        <mat-error>Must be a positive number</mat-error>
      }
    </mat-form-field>
  </div>
  
  <div class="actions">
    @if (editMode()) {
      <button mat-raised-button color="primary" type="submit" [disabled]="!ingredientForm.valid">
        Update
      </button>
      <button mat-button type="button" (click)="onClear()">
        Cancel
      </button>
    } @else {
      <button mat-raised-button color="primary" type="submit" [disabled]="!ingredientForm.valid">
        Add
      </button>
      <button mat-button type="button" (click)="onClear()">
        Clear
      </button>
    }
  </div>
</form>
